<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Colors" Level="1">
  <Info>
    <Name>Approved Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"726193\",\"label\":\"726193\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e37b7c\",\"label\":\"e37b7c\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffe4b4\",\"label\":\"ffe4b4\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"353865\",\"label\":\"353865\"}"
    }
  ]
}]]></Config>
</DataType>