<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39b7f730-a50f-4465-9366-c6cccaa26078" Alias="Contact Form - Social Medias - Nested Content" Level="1">
  <Info>
    <Name>Contact Form - Social Medias - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialMediaEntry",
      "ncTabAlias": "Content",
      "nameTemplate": "{{label}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>