<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5036b69-d188-4f69-adaf-0067dcb4c3f8" Alias="Gallery - Image Cropper" Level="1">
  <Info>
    <Name>Gallery - Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumbs wide",
      "width": 900,
      "height": 450
    },
    {
      "alias": "thumbs square",
      "width": 450,
      "height": 450
    },
    {
      "alias": "thumbs portrait",
      "width": 675,
      "height": 900
    }
  ]
}]]></Config>
</DataType>