<?xml version="1.0" encoding="utf-8"?>
<DataType Key="192e24dc-ae40-4e51-b28e-42ed5a869a95" Alias="Grid Icons - Icons - Dropdown" Level="1">
  <Info>
    <Name>Grid Icons - Icons - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 1,
      "value": "gem"
    },
    {
      "id": 2,
      "value": "camera-retro"
    },
    {
      "id": 3,
      "value": "cog"
    },
    {
      "id": 4,
      "value": "paper-plane"
    },
    {
      "id": 5,
      "value": "chart-bar"
    },
    {
      "id": 6,
      "value": "code"
    },
    {
      "id": 7,
      "value": "arrows"
    },
    {
      "id": 8,
      "value": "bell"
    },
    {
      "id": 9,
      "value": "user-circle"
    },
    {
      "id": 10,
      "value": "id-card"
    },
    {
      "id": 11,
      "value": "handshake-o"
    },
    {
      "id": 12,
      "value": "envelope-open"
    },
    {
      "id": 13,
      "value": "bathtub"
    },
    {
      "id": 14,
      "value": "address-card"
    },
    {
      "id": 15,
      "value": "microchip"
    },
    {
      "id": 16,
      "value": "briefcase"
    },
    {
      "id": 17,
      "value": "bomb"
    },
    {
      "id": 18,
      "value": "at"
    },
    {
      "id": 19,
      "value": "commenting"
    },
    {
      "id": 20,
      "value": "flask"
    },
    {
      "id": 21,
      "value": "language"
    },
    {
      "id": 22,
      "value": "lock"
    },
    {
      "id": 23,
      "value": "legal"
    },
    {
      "id": 24,
      "value": "pencil"
    },
    {
      "id": 25,
      "value": "shower"
    },
    {
      "id": 26,
      "value": "star"
    },
    {
      "id": 27,
      "value": "ticket"
    },
    {
      "id": 28,
      "value": "umbrella"
    },
    {
      "id": 29,
      "value": "wifi"
    }
  ]
}]]></Config>
</DataType>