<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40629bea-9f98-45ed-a94a-4a9103f7f5d2" Alias="Home - Layout - Nested Content" Level="1">
  <Info>
    <Name>Home - Layout - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "panelBanner",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "panelSpotlight",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "panel",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>