<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b36bb47-76d7-49cd-b3bd-15f9f0a19039" Alias="Icon Grid - Icons - Repeatable textstrings" Level="1">
  <Info>
    <Name>Icon Grid - Icons - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Minimum": 6,
  "Maximum": 6
}]]></Config>
</DataType>