<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25492bb1-bce6-4cbc-bfeb-39c1a6beac4a" Alias="Panel - Layout - Nested Content" Level="1">
  <Info>
    <Name>Panel - Layout - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "iconGrid",
      "ncTabAlias": "Content",
      "nameTemplate": "Icon Grid"
    },
    {
      "ncAlias": "gallerySolo",
      "ncTabAlias": "Content",
      "nameTemplate": "Gallery Solo"
    },
    {
      "ncAlias": "galleryThree",
      "ncTabAlias": "Content",
      "nameTemplate": "Gallery Three"
    },
    {
      "ncAlias": "galleryFour",
      "ncTabAlias": "Content",
      "nameTemplate": "Gallery Four"
    },
    {
      "ncAlias": "contactForm",
      "ncTabAlias": "Content",
      "nameTemplate": "Contact Form"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>