<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4aea27e-4d4a-4e69-92bf-4ed22a26a96e" Alias="Panel - Color Mode - Radio button list" Level="1">
  <Info>
    <Name>Panel - Color Mode - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "regular"
    },
    {
      "id": 2,
      "value": "joined"
    },
    {
      "id": 3,
      "value": "split"
    }
  ]
}]]></Config>
</DataType>