<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecd2d859-01c9-4ebf-99a9-2755b13a01d2" Alias="Panel (Spotlight) - Size - Radio button list" Level="1">
  <Info>
    <Name>Panel (Spotlight) - Size - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "medium"
    },
    {
      "id": 2,
      "value": "large"
    }
  ]
}]]></Config>
</DataType>