<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5e3c41c-114d-4b82-afdc-45fa10817a9e" Alias="Panel (Spotlight) - Aligning - Radio button list" Level="1">
  <Info>
    <Name>Panel (Spotlight) - Aligning - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "right"
    }
  ]
}]]></Config>
</DataType>