<?xml version="1.0" encoding="utf-8"?>
<Media Key="11a5a3f6-2f3e-4a29-8757-f98ffd7cd116" Alias="05" Level="2">
  <Info>
    <Parent Key="e1afe7c4-69a7-4710-a81b-60390cf663fe">Gallery</Parent>
    <Path>/Gallery/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-21T19:41:15</CreateDate>
    <NodeName Default="05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4crlkej4/05.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>