<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1afe7c4-69a7-4710-a81b-60390cf663fe" Alias="Gallery" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-07-21T19:40:39</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>