<?xml version="1.0" encoding="utf-8"?>
<Media Key="69f1e113-96fe-4488-aacd-69a6bd497565" Alias="Header Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeaderImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-07-21T19:40:21</CreateDate>
    <NodeName Default="Header Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>