<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d213adc-eb23-46ae-84aa-f0cdb24db23d" Alias="contactForm" Level="2">
  <Info>
    <Name>Contact Form</Name>
    <Icon>icon-paper-plane-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f3798ef5-add3-4592-a7a7-8ac8ea01bd62</Key>
      <Name>Social Medias</Name>
      <Alias>socialMedias</Alias>
      <Definition>39b7f730-a50f-4465-9366-c6cccaa26078</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>