<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="451e1656-e41f-4904-874e-6a593bcd4393" Alias="contactForms" Level="1">
  <Info>
    <Name>Contact Forms</Name>
    <Icon>icon-addressbook color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="65255501-8fc8-48b9-92d9-ba72f3297402" SortOrder="0">contactFormEntry</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>