<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eee14f30-97aa-41b2-a05a-7cd6dc76c61b" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5d40264f-bf39-4d41-93ae-e8c848cfedba">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ee7f862c-35f5-4984-b02c-3b40a6d199ce</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>40629bea-9f98-45ed-a94a-4a9103f7f5d2</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>