<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca9e173c-267c-4077-9396-1ee80d5fc25e" Alias="iconGrid" Level="2">
  <Info>
    <Name>Icon Grid</Name>
    <Icon>icon-item-arrangement color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A grid with 6 connected icons</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9e74436-5f10-4564-af90-5dcb3ac44c6b</Key>
      <Name>Icons</Name>
      <Alias>icons</Alias>
      <Definition>5b36bb47-76d7-49cd-b3bd-15f9f0a19039</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Valid font-awesome icon names, for example: "gem", "camera", "cog" or "paper-plane"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>