<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c8517e2-587e-4803-a9d8-11558457dce3" Alias="panelSpotlight" Level="2">
  <Info>
    <Name>Panel (Spotlight)</Name>
    <Icon>icon-article color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Spotlight Panel, with a title and description on top of an image</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions>
      <Composition Key="1281ac90-d88e-4870-89c2-1bd77bb5beb4">basePanel</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>567bc762-12ce-4cfc-ac25-3d8ddd143e92</Key>
      <Name>Aligning</Name>
      <Alias>aligning</Alias>
      <Definition>c5e3c41c-114d-4b82-afdc-45fa10817a9e</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4f3253e-a0de-4da2-88cd-a93ee986ff71</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc35c69e-74cf-4fde-9e0d-016a791ef5c0</Key>
      <Name>Header Image</Name>
      <Alias>headerImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dbb7205-319a-4e00-84f6-432ffbcbd5f4</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>ecd2d859-01c9-4ebf-99a9-2755b13a01d2</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>648d4a3e-f2e3-4ad1-8de9-8a6bc972d2d2</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>