<?xml version="1.0" encoding="utf-8"?>
<Content Key="9acc702c-5bd0-4290-ba5c-d491cb177d5d" Alias="Contact Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactForms</Path>
    <Trashed>false</Trashed>
    <ContentType>contactForms</ContentType>
    <CreateDate>2021-07-23T14:06:55</CreateDate>
    <NodeName Default="Contact Forms" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>