<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4da1545-709f-4a8b-b4fe-451c883d7ff5" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-07-21T16:09:14</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d40264f-bf39-4d41-93ae-e8c848cfedba">Home</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[[
  {
    "key": "e7b69399-a683-4e60-9f52-98cc38816466",
    "name": "Hello, my name<br/>is Ethereal",
    "ncContentTypeAlias": "panelBanner",
    "PropType": null,
    "headerImage": [
      {
        "key": "21ae7541-0bb2-49c5-939d-8d378714bd8c",
        "mediaKey": "61cfb0d8-fc94-4e91-b3be-f4dff2f7012f",
        "crops": [],
        "focalPoint": {
          "left": 0.5,
          "top": 0.5
        }
      }
    ],
    "title": "Hello, my name<br/>is Ethereal",
    "description": "<p>This is <strong>Ethereal</strong>, a free site template by AJ for <a href=\"https://html5up.net\">HTML5 UP</a>. It’s fully responsive, built on HTML5 and CSS3, and released entirely for free under the Creative Commons license. Hope you dig it :)</p>",
    "cTALink": "#first"
  },
  {
    "key": "ca42fd2a-e676-4364-88b0-aefb65d3001d",
    "name": "Sed etiam aenean",
    "ncContentTypeAlias": "panelSpotlight",
    "PropType": null,
    "headerImage": [
      {
        "key": "1fc35bfc-9508-467c-b875-c6eb50a75295",
        "mediaKey": "0025ff1d-aa06-4d3a-b90d-4077fa0c837d",
        "crops": [],
        "focalPoint": {
          "left": 0.5,
          "top": 0.5
        }
      }
    ],
    "title": "Sed etiam aenean",
    "description": "<p>Mauris et ligula arcu. Proin dapibus convallis accumsan. Lorem maximus hendrerit orci, sit amet elementum<br />massa hendrerit sed. Donec et ullamcorper ligula. Suspendisse amet potenti. Ut pretium libero eleifend<br />euismod sed tristique. Quisque dictum magna risus, id ultricies justo sagittis vitae. Sed id odio tempor,<br />porttitor elit amet, gravida hendrerit fringilla lorem ipsum dolor.</p>",
    "size": "medium",
    "aligning": "left"
  },
  {
    "key": "e0266ca2-4f01-4ede-97de-6fe9b7755e28",
    "name": "Amet lorem",
    "ncContentTypeAlias": "panel",
    "PropType": null,
    "color": {
      "value": "726193",
      "label": "726193",
      "sortOrder": 0,
      "id": "1"
    },
    "colorMode": "joined",
    "title": "Amet lorem",
    "description": "<div>\n<div>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat</div>\n<div>finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</div>\n</div>",
    "layout": [
      {
        "key": "a81cdb98-b435-446f-a0db-9ab4952e8f89",
        "name": "Icon Grid",
        "ncContentTypeAlias": "iconGrid",
        "PropType": null,
        "icons": "gem\ncamera-retro\ncog\npaper-plane\ntags\ncode"
      }
    ]
  },
  {
    "key": "b20bb05e-83b7-4090-9a1d-ef78805a2709",
    "name": "Magna amet tempus",
    "ncContentTypeAlias": "panelSpotlight",
    "PropType": null,
    "headerImage": [
      {
        "key": "22b40321-d09a-4469-b652-681e325d61db",
        "mediaKey": "80042dc2-a753-44c4-bf98-f04ed17be420",
        "crops": [],
        "focalPoint": {
          "left": 0.5,
          "top": 0.5
        }
      }
    ],
    "title": "Magna amet tempus",
    "description": "<div>\n<div>Mauris a cursus velit. Nunc lacinia sollicitudin egestas bibendum, magna dui bibendum ex, sagittis commodo</div>\n<div>enim risus sed magna nulla. Vestibulum ut consequat velit. Curabitur vitae libero lorem. Quisque iaculis</div>\n<div>porttitor blandit. Nullam quis sagittis maximus. Sed vel nibh libero. Mauris et lorem pharetra massa lorem</div>\n<div>turpis congue pulvinar.</div>\n</div>",
    "size": "large",
    "aligning": "right"
  },
  {
    "key": "51877698-0286-4d2b-a20b-f013a03b71b0",
    "name": "Elit integer",
    "ncContentTypeAlias": "panel",
    "PropType": null,
    "color": {
      "value": "e37b7c",
      "label": "e37b7c",
      "sortOrder": 1,
      "id": "2"
    },
    "colorMode": "regular",
    "title": "Elit integer",
    "description": "<div>\n<div>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat</div>\n<div>finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</div>\n</div>",
    "layout": [
      {
        "key": "87cbe0fa-efbb-4e21-a827-7fa99add8bc2",
        "name": "Gallery Solo",
        "ncContentTypeAlias": "gallerySolo",
        "PropType": null,
        "image": [
          {
            "key": "4a31de58-fa35-4029-bd27-cb23a12c9d95",
            "mediaKey": "22ee50a0-3261-48f1-b3b7-68199b229915",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ]
      },
      {
        "key": "468cbd0d-865d-45ea-93d0-40bd1d7f3b45",
        "name": "Gallery Three",
        "ncContentTypeAlias": "galleryThree",
        "PropType": null,
        "image1": [
          {
            "key": "de894fe6-1195-4e48-8b04-b0dd4db2b53f",
            "mediaKey": "587e5d7c-308a-462b-bf7e-8f8ceba25674",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "image2": [
          {
            "key": "0a4c1ba7-d9bf-4882-b372-74a644d3f00a",
            "mediaKey": "59406e4d-10e4-47c3-9afc-5382281d69a0",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "image3": [
          {
            "key": "e984ea27-70f8-4884-89ba-6b02dbf1d99a",
            "mediaKey": "10a673c1-2fcc-4d7c-8f7e-3395fae7aa60",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ]
      },
      {
        "key": "248982da-1c4f-43f5-99bb-94718d2e5a38",
        "name": "Gallery Four",
        "ncContentTypeAlias": "galleryFour",
        "PropType": null,
        "image1": [
          {
            "key": "f78d309e-2cac-4b1e-b497-5fb6d2d8668c",
            "mediaKey": "11a5a3f6-2f3e-4a29-8757-f98ffd7cd116",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "image2": [
          {
            "key": "20f7c5f2-223b-408f-9d82-b219e051194e",
            "mediaKey": "94187173-ec88-48c3-9d2e-f496dc88a45d",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "image3": [
          {
            "key": "09dece0b-830f-4617-91e1-37fa1d9b3d79",
            "mediaKey": "c1c2f625-8892-4a26-9263-ebac0f8ba5af",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ],
        "image4": [
          {
            "key": "8723b576-32df-48bd-9bbe-b95dfcf532ce",
            "mediaKey": "4132de9b-db38-46a2-ac0b-2470bff62541",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ]
      },
      {
        "key": "cbb19e26-3ae1-49da-bf08-309b392ccba8",
        "name": "Gallery Solo",
        "ncContentTypeAlias": "gallerySolo",
        "PropType": null,
        "image": [
          {
            "key": "77037605-1826-42d6-9cc2-49845361a3df",
            "mediaKey": "ff90e96c-7a7a-4931-8a96-267f589f36ce",
            "crops": [],
            "focalPoint": {
              "left": 0.5,
              "top": 0.5
            }
          }
        ]
      }
    ]
  },
  {
    "key": "76541d43-7d7d-4cf7-b761-d7bebc83e837",
    "name": "Contact",
    "ncContentTypeAlias": "panel",
    "PropType": null,
    "color": {
      "value": "353865",
      "label": "353865",
      "sortOrder": 3,
      "id": "4"
    },
    "colorMode": "split",
    "title": "Contact",
    "description": "<div>\n<div>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat</div>\n<div>finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</div>\n</div>",
    "layout": [
      {
        "key": "f9309fdc-5d17-41b2-b1ba-74c57148eaa7",
        "name": "Contact Form",
        "ncContentTypeAlias": "contactForm",
        "PropType": null,
        "socialMedias": [
          {
            "key": "a778ece5-aea8-48c7-a706-b3c1f6967f0f",
            "name": "@untitled-tld",
            "ncContentTypeAlias": "socialMediaEntry",
            "PropType": null,
            "label": "@untitled-tld",
            "icon": "twitter",
            "link": "#"
          },
          {
            "key": "45837a39-d806-4604-80c4-35319880f45e",
            "name": "facebook.com/untitled",
            "ncContentTypeAlias": "socialMediaEntry",
            "PropType": null,
            "label": "facebook.com/untitled",
            "icon": "facebook-f",
            "link": "#"
          },
          {
            "key": "bfbba73f-914a-4aef-a765-172a0cf37ddf",
            "name": "@untitled-tld",
            "ncContentTypeAlias": "socialMediaEntry",
            "PropType": null,
            "label": "@untitled-tld",
            "icon": "snapchat-ghost",
            "link": "#"
          },
          {
            "key": "66c9b6c3-7d30-4222-9855-26f02c9f0328",
            "name": "@untitled-tld",
            "ncContentTypeAlias": "socialMediaEntry",
            "PropType": null,
            "label": "@untitled-tld",
            "icon": "instagram",
            "link": "#"
          },
          {
            "key": "f2f92e59-66ca-433c-96b3-9adff6bfe076",
            "name": "Item 5",
            "ncContentTypeAlias": "socialMediaEntry",
            "PropType": null,
            "label": "medium.com/untitled",
            "icon": "medium-m",
            "link": "#"
          }
        ]
      }
    ]
  }
]]]></Value>
    </layout>
  </Properties>
</Content>