<?xml version="1.0" encoding="utf-8"?>
<Content Key="82c79eea-cc21-49e5-8874-9bd94069c3ee" Alias="ivan: 7/23/2021" Level="2">
  <Info>
    <Parent Key="9acc702c-5bd0-4290-ba5c-d491cb177d5d">Contact Forms</Parent>
    <Path>/ContactForms/ivan7232021</Path>
    <Trashed>false</Trashed>
    <ContentType>contactFormEntry</ContentType>
    <CreateDate>2021-07-23T15:49:09</CreateDate>
    <NodeName Default="ivan: 7/23/2021" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[ivan.cavalheiro@gmail.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[essa é a minha mensagem
]]></Value>
    </message>
    <personName>
      <Value><![CDATA[ivan]]></Value>
    </personName>
  </Properties>
</Content>